<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ルーム</title>
</head>
<body>
    <header>

    </header>
    <h1>ここは{{room_name}}の部屋です</h1>
    <h1>部屋番号:{{room_id}}</h1>
    <form method="post" action="{{url_for('create_tweet')}}">
        <div class="form1">
            <input type="text" name="tweet">
        </div>
        <div class="btn1" >
            <input type="submit" value="投稿">
        </div>
    </form>
</body>
</html>